form {
 width: 300px;
}

input[type="textarea"] {
 height: 100px;
 width: 200px;
}

.step3-form {
  text-align: left;
  width: 100%;
  vertical-align: top;
}

.left-wrapper {
  display: inline-block;
  vertical-align: top;
}

.message-wrapper {
  display: inline-block;
  vertical-align: top;
}
