.step1 {
  text-align: left;
}

.seperator {
  border-right: 10px solid firebrick;
}

.home-ul {
  display: inline-block;
  border-right: 10px solid firebrick;
}

.home-ul li {
  list-style: none;
}

.home-ul li button{
  font-size: 20px;
  padding: 12px 5px;
  margin: 5px 0px;
  width: 160px;
  background-color: lightgrey;
  text-align: center;
}

.home-ul li button:hover{
  background-color: lightgreen;
  color: white;
}

.home-ul li button:focus{
  background-color: dimgray;
  color: white;
  /* border-right: 10px solid firebrick; */
}

.displayer {
  vertical-align: top;
  height: 100%;
  padding: 20px;
  display: inline-block;
}

.descriptor {
  vertical-align: top;
  display: block;
  height: 50px;
  width: 300px;
}

.step1-pic {
  display: block;
  text-align: left;
  margin-top: 50px;
  width: 300px;
}

.step1-pic img {
  max-height: 200px;
  max-width: 300px;
}

.step1-pic

.left-table {
  display: block;
  vertical-align: top;
}
