form {
 width: 300px;
}

label {
  text-align: left;
  display: inline-block;
  width: 250px;
  text-align: right;
}

input, select {
  display: inline-block;
  margin-bottom: 6px;
  height: 25px;
  width: 150px;
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  background-color: lightgrey;
  font-size: 20px;
  color: black;
  width: 200px;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: lightgreen;
  color: white;
}

select {
  padding-bottom: 5px;
}

input[type="textarea"] {
 height: 100px;
 width: 200px;
}

.step3-select {
  height: 25px;
  width: 155px;
}

.message-label {
  text-align: left;
}

.step3-form {
  text-align: left;
  width: 100%;
  vertical-align: top;
}

.left-wrapper {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.message-wrapper {
  width: 35%;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}
