:root {
  --headerHeight: 40px;
  --centreWidth: 500px;
  --topClip: 120px;
  }


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: cornsilk;
}

.top-pic {
  /* width:100%;
  height: 100%; */
  /* margin-top: 25px; */
}

.top-pic img{
  width: 100%;
  height: auto;
  /* clip-path: inset(15% 0% 20% 0%); */
  margin-top: calc(var(--headerHeight) - 30px);
  /* margin-top: calc(var(--topClip) * -1); */
}

.centre-column {
  background: linear-gradient(to bottom right, pink, purple);
  position: absolute;
  margin-top: 100px;
  width: var(--centreWidth);
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  /* display: inline-block; */
}

.right-column

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-header {
  background: linear-gradient(to bottom right, RGB(0,112,255), rgb(0,219,255));
  height: var(--headerHeight);
  padding: 20px;
  color: white;
  z-index: 200;
}

.small-header {
  background: linear-gradient(to bottom right, RGB(0,112,255), rgb(0,219,255));
  height: 20px;
  padding: 20px;
  color: white;
}

.nav-header {
  float: right;
}

.list-item {
  style: none;
  color: cornsilk;
  text-decoration: none;
  font-size: 30px;
  padding-right: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 1000px) {
  :root {
    --centreWidth: 1000px;
    }
}


@media (max-width: 750px) {

}
