:root {
  --headerHeight: 40px;
  --centreWidth: 700px;
  --topClip: 120px;
  }


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: cornsilk;
}

.App-header {
  background: linear-gradient(to bottom right, RGB(0,112,255), rgb(0,219,255));
  width: 100%;
  height: var(--headerHeight);
  padding: 20px;
  color: white;
  z-index: 200;
  display: block;
  position: fixed;
}

.small-header {
  background: linear-gradient(to bottom right, RGB(0,112,255), rgb(0,219,255));
  height: 20px;
  padding: 20px;
  color: white;
}

.nav-header {
  display: none;
}



.top-pic img{
  display: block;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding-top: 80px;
  /* clip-path: inset(15% 0% 20% 0%); */
  /* margin-top: calc(var(--topClip) * -1); */
}

.centre-column {
  background: linear-gradient(to bottom right, pink, purple);
  position: absolute;
  margin-top: 100px;
  width: var(--centreWidth);
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  /* display: inline-block; */
}

.p-tagger {
  margin: 30px;
  padding: 30px;
  background: radial-gradient(red, yellow, green);
  height: 500px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 1000px) {
  :root {
    --centreWidth: 1000px;
    }

}

@media (min-width: 650px) {
  .dropdown {
    display: none;
  }

  .nav-header {
    float: right;
    display: inline-block;
    padding-right: 25px;
  }

  .list-item {
    style: none;
    color: cornsilk;
    text-decoration: none;
    font-size: 30px;
    padding-right: 25px;
  }

}
